// Core variables and mixins
@import "../node_modules/bootstrap/scss/variables";
@import "./variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/custom";
@import "../node_modules/bootstrap/scss/bootstrap-grid";

// Reset and dependencies
@import "../node_modules/bootstrap/scss/normalize";
@import "../node_modules/bootstrap/scss/print";

// Core CSS
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";

@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/jumbotron";

body {
  @include media-breakpoint-up(md) {
    background-image: url(../img/site-bg.jpg);
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  background-color: #d4d4d4;
}

html, body, .homepage-container, .homepage-row {
  height: 100%;
}

.homepage-row {
  @include media-breakpoint-up(md) {
    align-items: center;
  }
  @include media-breakpoint-up(lg) {
    align-items: center;
  }
}

.homepage-hero {
  @include media-breakpoint-up(xs) {
    @include make-col($size: 12);
  }
  @include media-breakpoint-up(sm) { 
    @include make-col($size: 12);
  }
  @include media-breakpoint-up(md) {
    @include make-col-offset($size: 2);
    @include make-col($size: 8);
    margin-top: -35%;
  }
  @include media-breakpoint-up(lg) {
    @include make-col-offset($size: 3);
    @include make-col($size: 6);
    margin-top: -30%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  .jumbotron {
    h1, .lead {
      text-align: center;
      text-transform: uppercase;
    }
    h1 {
      color: $black;
      @include media-breakpoint-up(md) {
        color: $white;
      }
      font-size: 29px;
      font-weight: $font-weight-bold;
      letter-spacing: 7px;
      margin-bottom: 25px;
    }
    .jumbotron-hr {
      border-top-color: #b3ccba;
      width: 58%;
      margin-bottom: 19px;
    }
    .lead {
      font-weight: $font-weight-bold;
      font-size: 11px;
      color: $secondary-green;
      letter-spacing: 3px;
    }
  }
  .projects {
    @include button-variant($color: white, $background: $secondary-green, $border: transparent);
    @include button-size($padding-y: 13px, $padding-x: 20px, $font-size: 11px, $border-radius: 0);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 1.5px;
    &:hover {
      text-decoration: none;
    }
  }
}
