// Core variables and mixins
@import "./variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/utilities/flex";

// Reset and dependencies
@import "../node_modules/bootstrap/scss/print";

// Core CSS
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/close";

@import "../node_modules/bootstrap/scss/utilities/position";
@import "../node_modules/bootstrap/scss/utilities/_spacing.scss";

.project-nav {
  background-color: $white;
}

.project-body {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  .project-title {
    h1 {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
    }
    @include make-col($size: 8);
    
    margin-bottom: 30px;
    align-self: flex-start;
  }
  .project-summary, .image-summary {
    align-self: flex-start;
    color: fade-out(#000, .5);
    letter-spacing: 0.8px;
    line-height: 1.8;
    font-size: 15px;
  
    @include media-breakpoint-up(sm) { 
      @include make-col($size: 10);
    }
    @include media-breakpoint-up(md) { 
       @include make-col($size: 8);
     }
    @include media-breakpoint-up(lg) { 
      @include make-col($size: 4.5);
    }
  }

  .project-img-caption {
    text-transform: uppercase;
    align-self: center;
    font-weight: $font-weight-bold;
    font-size: 12.5px;
    letter-spacing: 2px;
    margin: 30px 0 45px 0;
    &.with-text {
      margin: 30px 0 20px 0;
    }
  }

  .project-img {
    margin-bottom: 100px;
    img {
      max-width: 100%;
    }
    img.styleguide-border {
      border: 1px solid fade-out(#000, 0.9);
    }
  }
}

.push-down-due-to-nav {
  position: relative;
  top: 138px;
}
.navbar {
  background-color: white;
  box-shadow: 0px 1px 20px 0px #e4e4e4;
  .container {
    @include media-breakpoint-up(lg) {
      margin-left: calc(145px - 1rem);
      margin-right: calc(145px - 1rem);
    }
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(md) { 
      width: 100%;
    }
  }
  object {
    pointer-events: none;
  }

}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8rem;
  &.last {
    margin-right: -0.5rem;
  }
}

.navbar-brand > svg {
  width: 50px;
  height: 27px;
}

body {
  position: relative;
}

#navbarNav {
  justify-content: flex-end;
}

html, body, .homepage-container, .homepage-row {
  height: 100%;
}

nav.project-details {
  background-color: $secondary-green;
}

nav.about-page-nav {
  background-color: $about-page-brown;
}

// bugfix
.navbar-toggleable-sm > .container {
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.homepage-container {
  padding-right: 0;
  padding-left: 0;
}

.homepage-row {
  .crop-site-bg {
    width: 100%;
    overflow: hidden;
    @include media-breakpoint-up(lg) {
      background-image: url(../img/pexels-photo.jpg);
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .name-and-title {
      margin-top: 7rem;
    }
    .richa-name {
      color: #636363;
      text-transform: uppercase;
      font-size: 42px;
      font-family: 'EB Garamond', serif;
      font-weight: $font-weight-regular;
      letter-spacing: 9px;
    }
    .richa-title {
      color: $nav-gold;
      margin-top: 10px;
      letter-spacing: 2px;
    }
  }
}

.lead {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-size: 11px;
  color: $secondary-green;
}

.bottom-half {
  background-color: #fff;
  padding-top: 200px;
}

#portfolio {
  .bottom-half {
    @include media-breakpoint-up(xs) {
      max-width: map-get($container-max-widths, xs);
    }
    @include media-breakpoint-up(sm) { 
      max-width: map-get($container-max-widths, sm);
    }
    @include media-breakpoint-up(md) {
      max-width: map-get($container-max-widths, md);
    }
    @include media-breakpoint-up(lg) {
      max-width: map-get($container-max-widths, lg);
    }
    @include media-breakpoint-up(xl) {
      max-width: map-get($container-max-widths, xl);
    }
    @include media-breakpoint-up(xxl) {
      max-width: map-get($container-max-widths, xxl);
    }
    .project-click-target {
      &:hover {
        text-decoration: none;
      }
    }
    .project-container {
      min-height: $porfolio-img-height + 50px;
      margin-bottom: 60px;
      padding: 1rem;
      img {
        max-height: $porfolio-img-height;
      }
      @include media-breakpoint-up(xs) {
        @include make-col($size: 12);
      }
      @include media-breakpoint-up(md) {
        @include make-col($size: 12);
      }
      @include media-breakpoint-up(lg) { 
        @include make-col($size: 6);
      }
      @include media-breakpoint-up(xl) {
        @include make-col($size: 4);
      }
    }
    .project-title {
      margin-top: 20px;
      color: fade-out(#000, .3);
    }
    .project-type {
      margin-top: 3px;
      text-transform: uppercase;
      font-weight: $font-weight-regular;
      letter-spacing: 1px;
      color: fade-out(#000, .5);
      font-size: 11px;
    }
  }
}

#about {
  line-height: 1.75rem;
  font-size: 15px;
  .secondary-heading {
    color: $black;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: $font-weight-regular;
  }
  ul.about-text {
    list-style-type: none;
    padding-left: 0;
  }
  .about-text {
    color: fade-out(#000, .5);
  }

  .photo-text-container {
    @include media-breakpoint-up(sm) { 
      @include make-col($size: 12);
    }
    @include media-breakpoint-up(md) { 
      @include make-col($size: 10);
    }
    @include media-breakpoint-down(md) { 
      margin-top: 20%;
    }
    @include media-breakpoint-up(lg) { 
      @include make-col($size: 6);
      margin-top: 160px;
    }
    
    img {
      max-width: 100%;
    }
  }
  .photo-column {
    @include media-breakpoint-up(xs) {
      @include make-col($size: 12);
    }
    @include media-breakpoint-up(lg) {
      @include make-col($size: 6);
    }
  }
  .text-column {
    @include media-breakpoint-up(xs) {
      @include make-col($size: 12);
      margin-top: 40px;
    }
    @include media-breakpoint-down(md) { 
      padding-left: 20px;
      padding-right: 20px;
    }
    @include media-breakpoint-up(lg) {
      @include make-col($size: 6);
      margin-top: 0;
      padding-left: 55px;
    }
    flex-direction: column;
    letter-spacing: 0.5px;
    justify-content: center;
    .who-am-i {
      @include media-breakpoint-up(sm) { 
        @include make-col($size: 12);
      }
      @include media-breakpoint-up(md) { 
        @include make-col($size: 12);
      }
      @include media-breakpoint-up(lg) { 
        @include make-col($size: 12);
      }
      @include media-breakpoint-up(xl) { 
        @include make-col($size: 12);
      }
    }
    .what-i-do {
      margin-top: 30px;
       @include media-breakpoint-up(sm) { 
        @include make-col($size: 12);
      }

      @include media-breakpoint-up(md) { 
        @include make-col($size: 12);
      }
      @include media-breakpoint-down(md) {
        margin-top: 30px;
      }
      @include media-breakpoint-up(lg) { 
        @include make-col($size: 12);
      }
      @include media-breakpoint-up(xl) { 
        @include make-col($size: 12);
      }
    }
    .social-networks-row {
      margin-top: 30px;
      
      .social-networks-col {
        @include media-breakpoint-up(sm) { 
          @include make-col($size: 12);
        }
      }
      .social-networks-icons {
        display: flex;
        justify-content: start;

        svg:not(:root) {
          fill: #d2d2d2;
        }
      }
    }
    .resume-button {
      border: 1px solid $nav-gold;
      color: $nav-gold;
      justify-content: center;
      align-items: center;
      width: 225px;
      height: 55px;
      text-transform: uppercase;
      margin-top: 30px;
      letter-spacing: 1.25px;
      font-size: 12px;
      &:hover {
        background-color: $nav-gold;
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.secondary-heading {
  font-weight: $font-weight-black;
  font-size: 12.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nomargin {
  margin-bottom: 0;
}

$fade-in-duration: 1s;
.crop-site-bg{
  animation: fade-in-site-bg ease-in $fade-in-duration;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: fade-in-site-bg ease-in $fade-in-duration;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: fade-in-site-bg ease-in $fade-in-duration;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: fade-in-site-bg ease-in $fade-in-duration;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: fade-in-site-bg ease-in $fade-in-duration;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes fade-in-site-bg{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fade-in-site-bg{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fade-in-site-bg {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fade-in-site-bg {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fade-in-site-bg {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.img-box-shadow {
  box-shadow: 4px 4px 33px -2px rgb(62, 58, 58);
}

.img-box-shadow-light {
  box-shadow: 4px 4px 33px -2px #d9d9d9;
}

.img-box-shadow-lighter {
  box-shadow: 4px 4px 33px -2px #e3e3e3;
}

.golden-divider {
  border-bottom: 0.5px solid transparentize($nav-gold, 0.5);
  margin-bottom: 50px;
}