@import "../node_modules/bootstrap/scss/variables";
$jumbotron-bg: transparent;
$font-family-base: 'Lato', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$secondary-green: #00a887;
$navbar-padding-y: 1.5rem;
$navbar-light-color: #ddd;
$navbar-light-hover-color: darken($navbar-light-color, 1);
$navbar-light-toggler-border: transparent;
$jumbotron-padding: 1rem;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

$grid-gutter-widths: (
  xs: 0,
  sm: 0,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

$porfolio-img-height: 200px;
