$jumbotron-bg: transparent;
$font-family-base: 'Lato', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$secondary-green: #00a887;
$navbar-padding-y: 1.5rem;
$navbar-light-color: #ddd;
$navbar-light-hover-color: darken($navbar-light-color, 1);
$jumbotron-padding: 1rem;
