@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$jumbotron-bg: transparent;
$font-family-base: 'Lato', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$secondary-green: #00a887;
$jumbotron-padding: 1rem;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

$porfolio-img-height: 200px;
$about-page-brown: #23201b;

$nav-gold: #b38e50;
$navbar-light-color: $nav-gold;
$navbar-light-hover-color: darken($navbar-light-color, 1);
$navbar-light-toggler-border: transparent;
$navbar-light-active-color: rgba($navbar-light-color,.5);
$navbar-light-disabled-color: rgba($black,.3);
$navbar-padding-y: 3rem;
$nav-item-margin: 100px;
