<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../css/main.css">
  <title>Try On App</title>
</head>

<body>
  <div class="container-fluid homepage-container">
    <%- include('../nav.html') %>
    <%- include('./partial.html') %>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  
  <script src="../../js/util.js"></script>
  <script src="../../js/collapse.js"></script>
  <script src="../../js/main.js"></script>
</body>
</html>
