<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />

  <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lato:400,700,900" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/main.css">

  <title>Richa Naniwadekar</title>

</head>

<body data-spy="scroll" data-target="#navbarNavAltMarkup">
  <div class="container-fluid homepage-container">
    <%- include('./nav.html', {isHomePage: true}) %>
    <section id="home" class="row homepage-row push-down-due-to-nav justify-content-center">
      <div class="col col-12 crop-site-bg">
        <div class="name-and-title">
          <div class="richa-name">Richa Naniwadekar</div>
          <div class="richa-title">Visual &amp; Graphic Designer</div>
        </div>
      </div>
    </section>
    <section id="portfolio" class="row push-down-due-to-nav align-items-center justify-content-center">
      <div id="portfolio-bottom-half" class="bottom-half row no-gutters col-12 justify-content-between">
        <a href="./projects/old-siam/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/old-siam/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">The Old Siam</div>
            <div class="project-type">Restautant re-branding</div>
          </div>
        </a>
        <a href="./projects/atl-film-fest/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/atl-film-fest/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Atlanta Film Festival</div>
            <div class="project-type">Direct Mail Kit</div>
          </div>
        </a>
        <a href="./projects/get-fit/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/get-fit/img/thumbnail.png" />
            <div class="project-title secondary-heading">Get Fit</div>
            <div class="project-type">Mobile &amp; Web App</div>
          </div>
        </a>
        <a href="./projects/picasso/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/picasso/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Picasso</div>
            <div class="project-type">Museum Catalog</div>
          </div>
        </a>
        <a href="/projects/cherry-blossom-fest" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/cherry-blossom-fest/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Cherry Blossom Festival</div>
            <div class="project-type">Branding &amp; Swag</div>
          </div>
        </a>
        <a href="./projects/porsche/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/porsche/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Porsche</div>
            <div class="project-type">Digital Illustration</div>
          </div>
        </a>
        <a href="./projects/try-on-app" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/try-on-app/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Try On App</div>
            <div class="project-type">Mobile App Design</div>
          </div>
        </a>
        <a href="./projects/collage/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/collage/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Editorial Collage</div>
            <div class="project-type">Poster Design</div>
          </div>
        </a>
        <a href="./projects/turtle-website/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/turtle-website/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Save A Turtle</div>
            <div class="project-type">Web Design</div>
          </div>
        </a>
        <a href="./projects/turtle-styleguide/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/turtle-styleguide/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Style Guide</div>
            <div class="project-type">Branding &amp; Usage Guidelines</div>
          </div>
        </a>
        <a href="./projects/paula-scher/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/paula-scher/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Paula Scher</div>
            <div class="project-type">Illustration &amp; Catalog Design</div>
          </div>
        </a>
        <a href="./projects/rihanna/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/rihanna/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Rihanna</div>
            <div class="project-type">Web Design</div>
          </div>
        </a>
        <a href="./projects/knots-and-weaves/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/knots-and-weaves/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Knots &amp; Weaves</div>
            <div class="project-type">Web Design</div>
          </div>
        </a>
        <a href="./projects/cross/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/cross/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Cross Pens</div>
            <div class="project-type">Brochure Design</div>
          </div>
        </a>
        <a href="./projects/flowers/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/flowers/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Oriental Lily</div>
            <div class="project-type">Digital Illustration</div>
          </div>
        </a>
        <a href="./projects/horoscope/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/horoscope/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Horoscope</div>
            <div class="project-type">Tablet App Design</div>
          </div>
        </a>
        <a href="./projects/sufi-cafe/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/sufi-cafe/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Sufi Café</div>
            <div class="project-type">Branding &amp; Collateral</div>
          </div>
        </a>
        <a href="./projects/art-and-illustrations/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/art-and-illustrations/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Art &amp; Illustrations</div>
            <div class="project-type">Sketches, Watercolors &amp; Pastels</div>
          </div>
        </a>
        <a href="./projects/moreno-catalog/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/moreno-catalog/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Gabriel Moreno</div>
            <div class="project-type">Museum Catalog</div>
          </div>
        </a>
        <a href="./projects/skateboard/" class="project-click-target project-container row align-items-center justify-content-center">
          <div>
            <img src="./projects/skateboard/img/thumbnail.jpg" />
            <div class="project-title secondary-heading">Skateboard Graphics</div>
            <div class="project-type">Digital Illustration</div>
          </div>
        </a>
      </div>
    </section>
    <section id="about" class="row push-down-due-to-nav">
      <div id="about-bottom-half" class="row no-gutters justify-content-center align-items-center">
        <div class="row photo-text-container justify-content-between">
          <div class="photo-column">
            <img src="./img/about.jpg" alt="">
          </div>
          <div class="text-column row no-gutters">
            <div class="row no-gutters">
              <div class="who-am-i">
                <h2 class="secondary-heading">Who Am I?</h2>
                <p class="about-text">Hi! My name is Richa Naniwadekar and I’m a budding graphic designer in the Bay Area. My passion to find creativity
                  in everything sparked my interest in graphic design. My strengths lie in digital illustration, logo design, branding, building
                  corporate identity, application and web design.
                </p>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="what-i-do">
                <h2 class="secondary-heading">What I do</h2>
                <p class="about-text">
                  I am currently pursuing an A.A in Graphic Design from De Anza College (expected graduation: Summer 2017) and looking forward
                  to enhance my design skills in the field. I am a travel bug and grab every opportunity I can to plan a
                  trip!
                </p>
              </div>
            </div>
            <div class="row social-networks-row no-gutters">
              <div class="social-networks-col">
                <h2 class="secondary-heading">
                  Contact Me
                </h2>
                <ul class="about-text">
                  <li>
                    LinkedIn: <a href="https://www.linkedin.com/in/richa-naniwadekar">https://www.linkedin.com/in/richa-naniwadekar</a>
                  </li>
                  <li> Email: <a href="mailto:richa.naniwadekar@gmail.com">richa.naniwadekar@gmail.com</a></li>
                </ul>
              </div>
            </div>
            <a href="https://drive.google.com/file/d/0B5t9MWOoe-izVW1mZno4cXd3aE0/view?usp=sharing" target="_blank" class="row no-gutters resume-button">
              <span>Resume (Google Drive)</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="./js/carousel.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/scrollspy.js"></script>
    <script src="./js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-104887494-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>

</html>
