<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <object type="image/svg+xml" data="/img/brand.svg"></object>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav">
        <% if(isHomePage) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#ui-design">UI Design</a>
            <a class="dropdown-item" href="#print">Print</a>
            <a class="dropdown-item" href="#illustrations">Illustrations</a>
          </div>
        </li>
        <li class="nav-item">
          <a id="about-page-link" class="nav-link" href="#about">About</a>
        </li>
        <% } %>
        <% if (!isHomePage) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/#ui-design">UI Design</a>
            <a class="dropdown-item" href="/#print">Print</a>
            <a class="dropdown-item" href="/#illustrations">Illustrations</a>
          </div>
        </li>
        <li class="nav-item">
          <a id="about-page-link" class="nav-link" href="/#about">About</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>