<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../head-common.html') %>
  <title>Get Fit</title>
</head>

<body>
  <div class="container-fluid homepage-container">
    <%- include('../../nav.html', {isHomePage: false}) %>
    <%- include('./partial.html') %>
  </div>
  <%- include('../../scripts.ejs') %>
</body>
</html>
